<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <!-- optional, add some variabeles  
  https://github.com/nlog/NLog/wiki/Configuration-file#variables  
  -->
  <variable name="myvar" value="myvalue"/>
  <targets>
    <!--说明 xsi:type="File"指定输出到文件类型；fileName指定输出文件的存放位置和文件名（可自定义），其中  
      ${basedir}是程序所在的路径；  
      ${shortdate}是日期（具体到日）。   
      layout指定输出文件内容的样式   
      ${level}是日志的等级；  
      ${longdate}是日期（具体到毫秒），  
      ${message}是具体要输出的内容。-->
    <target name="Info" xsi:type="File" fileName="${basedir}/log/test.${shortdate}.log" layout="${longdate} [${level}]： ${message}"/>

  </targets>

  <rules>
    <logger name="*"  writeTo="Info"/>
  </rules>
</nlog>

