<div class="jumbotron">
    <h1>Kpi Web Api</h1>
    <p class="lead">Kpi Web Api对外提供KPI计算功能、公式编辑功能，接口测试功能，具体详见调用API页</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>计算病人KPI</h2>
        <p>调用baseurl+kpiresult\params接口,传参病人id列表，病种代码，kpiid，数据项实体列表；数据项实体
        列表属性包括：数据项编码、数据项类型（int/double/datetime/string）数据项值；返回结果为KPI计算结果列表；</p>
    </div>
    <div class="col-md-4">
        <h2>公式编辑接口</h2>
        <p>提供了KPI字典展示，kpi公式编辑，数据项选取，分母，分子公式编辑，公式保存校验等功能；</p>
    </div>
    <div class="col-md-4">
        <h2>接口测试</h2>
        <p>在API接口页，点击进入对应接口，点击右下角测试按钮即可进行接口测试；</p>
    </div>
</div>
